.form {
    width: 50%;
    background-color: rgb(84, 122, 90);
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;
  }
  
  .form-field {
    margin: 1rem 0;
    display: flex;
  }
  .form-field label {
    flex-basis: 20%;
  }
  .form-field input {
    flex-basis: 80%;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
  }
  .form-field textarea {
    flex-basis: 80%;
    resize: none;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
  }
  .form button {
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  .form button:hover {
    background-color: rgb(0, 255, 255);
    color: rgb(2, 173, 45);
  }